.navbar-title{
    font-size: 28px;
    padding-left: 20px;
}

.navbar-div{
    width: 100%;
    display: block;
    border: 1px solid #D3D6DA;
    margin-bottom: 30px;
}

@media screen and (min-width: 765px) {
    .navbar-title{
        font-size: 42px;
        text-align: center;
    }
    
  }